.testimonials-slider {
  text-align: center;
  flex-wrap: wrap;
  padding-top: 30px;
}
.testimonial {
  background-color: #f4f4f4;
  padding: 30px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  justify-content: center;
  text-align: center;
  flex-wrap: wrap;
  gap: 30px 30px;
  margin: 20px;
}
