.cat-circle {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.cat-circle .cr {
  display: flex;
  flex-wrap: wrap;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background: #ecf5bb;
  border: 2px solid #808080;
}

@media (max-width: 468px) {
  .cat-circle .cr {
    width: 60px;
    height: 55px;
  }
}
