.homePage {
  min-height: 100vh;

  .dress-cat {
    padding-top: 20px !important;
    padding-bottom: 20px !important;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px 20px;
  }

  .ch-elini {
    .sec-para {
      text-align: center;
      max-width: 777px;
      margin: 0px auto;
      margin-top: 30px;
    }
  }

  .home-gallery {
    .upper-gallery,
    .lower-gallery {
      display: flex;
      flex-wrap: wrap;
      gap: 20px;
      justify-content: space-between;
      margin: 20px 0;

      .gallery-card1,
      .gallery-card2 {
        text-align: center;
        flex-basis: calc(50% - 20px); /* Two columns with a gap of 20px */

        .image-container {
          position: relative;
          max-width: 100%;
          max-height: 100%;

          img {
            max-width: 100%;
            max-height: 100%;
            height: auto; /* Maintain aspect ratio */
            object-fit: cover;
            flex-wrap: wrap;
          }

          .overlay {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            background: rgba(0, 0, 0, 0.5);
            color: white;
            padding: 20px;
            opacity: 0;
            transition: opacity 0.3s;

            h2 {
              color: #c1c1c1;
            }

            h2,
            p {
              margin: 0;
              padding: 0;
            }
          }

          &:hover .overlay {
            opacity: 1;
          }
        }
      }
    }
  }

  /* Media query for smaller screens */
  @media screen and (max-width: 768px) {
    .home-gallery {
      .upper-gallery,
      .lower-gallery {
        flex-direction: column; /* Stack cards vertically on smaller screens */
        margin: 10px 0; /* Reduce margin for smaller screens if needed */

        .gallery-card1,
        .gallery-card2 {
          flex-basis: 100%; /* Cards take full width on smaller screens */
        }
      }
    }
  }

  .product-wrapper {
    padding: 40px;
    .pr-wrapper-header {
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
    }
    .pr-wrapper-btnbox {
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-start;
      align-items: center;
      padding: 20px 0px;
      gap: 10px 20px;

      .pr-btn {
        cursor: pointer;
        padding: 6px 15px;
        border: 2px solid #333333;
        border-radius: 30px;
        color: #333333;
        font-family: "Montserrat", sans-serif;
      }
      .pr-btn.active {
        background-color: #000;
        color: white;
      }
    }
    @media screen and (max-width: 450px) {
      .pr-wrapper-btnbox {
        padding: 20px 0px;
        gap: 10px 10px;
      }
    }
  }

  .product-slider {
    text-align: center;

    .slider-heading {
      margin-bottom: 20px;

      p {
        color: #000000;
      }
    }

    .slick-slider {
      .slick-slide {
        padding: 0 10px;
        transition: opacity 0.3s;

        img {
          max-width: 100%;
          height: auto;
          border-radius: 1px;
        }

        h3 {
          margin-top: 10px;
          font-size: 18px;
        }

        p {
          margin-top: 5px;
          font-size: 14px;
          color: #ffffff;
        }
      }

      .slick-dots {
        bottom: -20px;
      }
    }

    @media screen and (max-width: 768px) {
      .slick-slider {
        .slick-slide {
          padding: 0;
          p {
            font-size: 9px;
          }
        }
      }
    }
  }

  .section-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    @media (max-width: 600px) {
      flex-direction: column;
    }

    .left-section {
      padding: 20px;
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: flex-start;

      p {
        font-size: 16px;
        margin-bottom: 20px;
      }

      button {
        padding: 15px 25px;
        background-color: #212121;
        color: white;
        border: none;
        cursor: pointer;
      }
    }

    .right-section {
      width: 60%;
      padding: 10px;
      background-color: #f0f0f0;
    }
  }

  .detailsection {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @media (max-width: 768px) {
      flex-direction: column;
      align-items: stretch;
    }

    .item {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      flex-basis: 24%;

      @media (max-width: 768px) {
        margin-bottom: 20px;
        flex-basis: 100%;
      }

      .heading-section {
        font-size: 30px;
        color: #000;
      }

      p {
        font-size: 15px;
        color: #666;
      }
      @media (max-width: 768px) {
        .heading-section {
          font-size: 23px;
          color: #000;
        }

        p {
          font-size: 12px;
          color: #666;
        }
      }
    }

    .divider {
      width: 2px;
      height: 100px;
      background-color: #ccc;
      margin: 0 20px;

      @media (max-width: 768px) {
        display: none;
      }
    }
  }

  .testimonials-slider {
    text-align: center;
    flex-wrap: wrap;
    padding-top: 30px;

    .testimonial {
      background-color: #f4f4f4;
      padding: 30px;
      border-radius: 5px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      justify-content: center;
      text-align: center;
      flex-wrap: wrap;
      gap: 30px 30px;
      margin: 20px;

      .stars {
        display: inline;
      }

      .title {
        font-weight: bold;
      }

      .content {
        font-size: 16px;
        margin-bottom: 10px;
      }

      .name {
        font-weight: bold;
        font-size: 15px;
      }
    }

    .slick-slider {
      .slick-slide {
        padding: 0 10px;
        transition: opacity 0.3s;

        h3 {
          margin-top: 10px;
          font-size: 18px;
        }

        p {
          margin-top: 5px;
          font-size: 14px;
          color: #000000;
        }
      }
    }

    /* Styling for react-slick dots */
    .slick-dots {
      li {
        button:before {
          color: #666;
        }
      }
      li.slick-active {
        button:before {
          color: #007bff;
        }
      }
    }
  }
  .about__banner {
    display: flex;
    flex-wrap: wrap;
    gap: 30px 30px;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;

    .ab-left {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      width: 50%;

      span {
        margin-top: 30px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 30px 30px;

        .btn {
          background-color: #231918;
          padding: 12px;
          border-radius: 5px;
          color: #ffffff;
        }
      }
    }

    .ab-right {
      display: flex;
      align-items: center;
      justify-content: flex-end;

      img {
        width: 500px;
      }
    }
  }

  @media (max-width: 867px) {
    .about__banner {
      .ab-left {
        width: 100%;

        .btn {
          font-size: 15px !important;
        }
      }

      .ab-right {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        img {
          max-width: 100%;
          height: auto;
        }
      }
    }
  }

  @media (min-width: 868px) and (max-width: 1068px) {
    .about__banner {
      .ab-left {
        width: 100%;

        .btn {
          font-size: 15px !important;
        }
      }

      .ab-right {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        img {
          max-width: 100%;
          height: auto;
        }
      }
    }
  }
  @media (min-width: 868px) and (max-width: 1168px) {
    .about__banner {
      flex-wrap: nowrap;
      .ab-left {
        width: 100%;

        .btn {
          font-size: 15px !important;
        }
      }

      .ab-right {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        img {
          max-width: 100%;
          height: auto;
        }
      }
    }
  }
}
