.homePage {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 6rem;
}
.homePage .dress-cat {
  padding-top: 20px !important;
  padding-bottom: 20px !important;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px 20px;
}
.homePage .ch-elini .sec-head {
  text-align: center;
  max-width: 777px;
  margin: 0px auto;
  margin-top: 30px;
}
.homePage .ch-elini .sec-para {
  text-align: center;
  max-width: 777px;
  margin: 0px auto;
  margin-top: 30px;
}
.homePage .home-gallery .upper-gallery,
.homePage .home-gallery .lower-gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-between;
  margin: 20px;
}
.homePage .home-gallery .upper-gallery .gallery-card1,
.homePage .home-gallery .upper-gallery .gallery-card2,
.homePage .home-gallery .lower-gallery .gallery-card1,
.homePage .home-gallery .lower-gallery .gallery-card2 {
  text-align: center;
  flex-basis: calc(50% - 20px); /* Two columns with a gap of 20px */
}
.homePage .home-gallery .upper-gallery .gallery-card1 .image-container,
.homePage .home-gallery .upper-gallery .gallery-card2 .image-container,
.homePage .home-gallery .lower-gallery .gallery-card1 .image-container,
.homePage .home-gallery .lower-gallery .gallery-card2 .image-container {
  position: relative;
  max-width: 90%;
  max-height: 100%;
}
.homePage .home-gallery .upper-gallery .gallery-card1 .image-container img,
.homePage .home-gallery .upper-gallery .gallery-card2 .image-container img,
.homePage .home-gallery .lower-gallery .gallery-card1 .image-container img,
.homePage .home-gallery .lower-gallery .gallery-card2 .image-container img {
  max-width: 85%;
  max-height: 100%;
  height: auto; /* Maintain aspect ratio */
  object-fit: cover;
  flex-wrap: wrap;
}
.homePage .home-gallery .upper-gallery .gallery-card1 .image-container .overlay,
.homePage .home-gallery .upper-gallery .gallery-card2 .image-container .overlay,
.homePage .home-gallery .lower-gallery .gallery-card1 .image-container .overlay,
.homePage .home-gallery .lower-gallery .gallery-card2 .image-container .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 85%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 20px;
  opacity: 0;
  transition: opacity 0.3s;
}
.homePage .home-gallery .upper-gallery .gallery-card1 .image-container .overlay h2,
.homePage .home-gallery .upper-gallery .gallery-card2 .image-container .overlay h2,
.homePage .home-gallery .lower-gallery .gallery-card1 .image-container .overlay h2,
.homePage .home-gallery .lower-gallery .gallery-card2 .image-container .overlay h2 {
  color: #c1c1c1;
}
.homePage .home-gallery .upper-gallery .gallery-card1 .image-container .overlay h2,
.homePage .home-gallery .upper-gallery .gallery-card1 .image-container .overlay p,
.homePage .home-gallery .upper-gallery .gallery-card2 .image-container .overlay h2,
.homePage .home-gallery .upper-gallery .gallery-card2 .image-container .overlay p,
.homePage .home-gallery .lower-gallery .gallery-card1 .image-container .overlay h2,
.homePage .home-gallery .lower-gallery .gallery-card1 .image-container .overlay p,
.homePage .home-gallery .lower-gallery .gallery-card2 .image-container .overlay h2,
.homePage .home-gallery .lower-gallery .gallery-card2 .image-container .overlay p {
  margin: 0;
  padding: 0;
}
.homePage .home-gallery .upper-gallery .gallery-card1 .image-container:hover .overlay,
.homePage .home-gallery .upper-gallery .gallery-card2 .image-container:hover .overlay,
.homePage .home-gallery .lower-gallery .gallery-card1 .image-container:hover .overlay,
.homePage .home-gallery .lower-gallery .gallery-card2 .image-container:hover .overlay {
  opacity: 1;
}
@media screen and (max-width: 768px) {
  .homePage .home-gallery .upper-gallery,
  .homePage .home-gallery .lower-gallery {
    flex-direction: column; /* Stack cards vertically on smaller screens */
    margin: 10px 0; /* Reduce margin for smaller screens if needed */
  }
  .homePage .home-gallery .upper-gallery .gallery-card1,
  .homePage .home-gallery .upper-gallery .gallery-card2,
  .homePage .home-gallery .lower-gallery .gallery-card1,
  .homePage .home-gallery .lower-gallery .gallery-card2 {
    flex-basis: 100%; /* Cards take full width on smaller screens */
  }
}

.homeHeading {
  text-align: center;
  font-family: Roboto;
  font-size: 1.4vmax;
  border-bottom: 1px solid rgba(21, 21, 21, 0.5);
  width: 20vmax;
  padding: 1vmax;
  margin: 5vmax auto;
  color: rgb(0, 0, 0, 0.7);
}

.container {
  display: flex;
  margin: 2vmax auto;
  width: 80vw;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 100%;
}

.productCard {
  width: 14vmax;
  display: flex;
  flex-direction: column;
  text-decoration: none;
  color: rgb(48, 48, 48);
  margin: 2vmax;
  transition: all 0.5s;
  padding-bottom: 0.5vmax;
}

.productCard > img {
  width: 14vmax;
}

.productCard > div {
  margin: 0.5vmax;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.productCardSpan {
  margin: 0.5vmax;
  font: 300 0.7vmax "Roboto";
}

.productCard > p {
  font-family: "Roboto";
  font-size: 1.2vmax;
  margin: 1vmax 0.5vmax;
  margin-bottom: 0;
}

.productCard > span {
  margin: 0.5vmax;
  color: tomato;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 1vmax;
}

.productCard:hover {
  box-shadow: 0 0 5px rgba(15, 15, 15, 0.26);

  transform: translateY(-1vmax);
}

@media screen and (max-width: 600px) {
  .productCard > p {
    font-size: 1.7vmax;
  }

  .productCard > div {
    margin: 0vmax;
    display: block;
  }

  .productCard > span {
    font-size: 1.5vmax;
  }

  .productCard > div > span {
    margin: 0 0.5vmax;
    font: 300 1vmax "Roboto";
  }
}
